<?xml version="1.0" encoding="UTF-8" ?>
<included>
    <include resource="logback-app.xml"/>

    <property name="izumitk.logs.websocket" value="${izumitk.logs.stdout:-true}"/>

    <if condition='p("izumitk.logs.websocket").equals("true")'>
        <then>
            <appender name="WSOUT" class="org.bitbucket.pshirshov.izumitk.akka.http.util.logging.WSAppender">
                <pattern>${izumitk.logs.pattern}</pattern>
            </appender>

            <root>
                <appender-ref ref="WSOUT"/>
            </root>
        </then>
    </if>

    <logger name="akka.actor.ActorSystemImpl" level="INFO"/>
</included>
