<?xml version="1.0" encoding="UTF-8" ?>
<included>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="HTTP-SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="org.bitbucket.pshirshov.izumitk.test.GlobalDiscriminator"/>
        <sift>
            <appender name="FILE-${test-name}" class="ch.qos.logback.core.FileAppender">
                <file>target/http/${test-name}.txt</file>

                <encoder>
                    <pattern>%d{HH:mm:ss:SSS} | %-5level | %thread | %logger{20} | %msg%n%rEx</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.bitbucket.pshirshov.izumitk" level="INFO" />

    <logger name="org.bitbucket.pshirshov.izumitk.akka.http.util.logging.LoggingHttpDebugLogHandler" level="INFO">
        <appender-ref ref="HTTP-SIFT" />
    </logger>
</included>
