<?xml version="1.0" encoding="UTF-8" ?>
<included>
    <property name="izumitk.logs.stdout" value="${izumitk.logs.stdout:-true}"/>

    <if condition='p("izumitk.logs.stdout").equals("true")'>
        <then>

            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
            <root>
                <appender-ref ref="STDOUT"/>
            </root>
        </then>
    </if>

    <property name="izumitk.logs.http" value="${izumitk.logs.http:-true}"/>

    <if condition='p("izumitk.logs.http").equals("true")'>
        <then>
            <appender name="HTTP-SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
                <discriminator class="org.bitbucket.pshirshov.izumitk.test.GlobalDiscriminator"/>
                <sift>
                    <appender name="FILE-${test-name}" class="ch.qos.logback.core.FileAppender">
                        <file>target/records/tests/${test-name}.txt</file>

                        <encoder>
                            <pattern>%d{HH:mm:ss:SSS} | %-5level | %thread | %logger{20} | %msg%n%rEx</pattern>
                        </encoder>
                    </appender>
                </sift>
            </appender>

            <logger name="org.bitbucket.pshirshov.izumitk.akka.http.util.logging.LoggingHttpDebugLogHandler"
                    level="INFO">
                <appender-ref ref="HTTP-SIFT"/>
            </logger>
        </then>
    </if>

    <logger name="org.bitbucket.pshirshov.izumitk" level="INFO"/>
</included>
